<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="app.js"></script>
  <title>HW AngularJS</title>
</head>
<body ng-app="myApp">
  <div ng-controller="titleCtrl as title">
    {{title.text}}
  </div>
  <container>
    <my-button id="green" ng-click="container.clickGreen('green')" text="Green" ></my-button>
    <my-button id="red" ng-click="container.clickRed('red')" text="Red"></my-button>
    <my-button id="blue" ng-click="container.clickBlue('blue')" text="Blue"></my-button>
    <my-button id="yellow" ng-click="container.click1Yellow('yellow')" text="Yellow"></my-button>
    <my-button id="grey" ng-click="container.click1Grey('grey')" text="Grey"></my-button>
  </container>
</body>
</html>