<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="app.js"></script>
  <title>HW AngularJS</title>
</head>
<body ng-app="myApp">
  <container>
    <my-button ng-click="container.clickGreen()" text="Green" ></my-button>
    <my-button ng-click="container.click1Red()" text="Red"></my-button>
    <my-button ng-click="container.click1Blue()" text="Blue"></my-button>
    <my-button ng-click="container.click1Yellow()" text="Yellow"></my-button>
    <my-button ng-click="container.click1Grey()" text="Grey"></my-button>
  </container>
</body>
</html>